<footer class="site-footer">
  <div class="site-footer__upper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget footer-widget__subscribe">
            <img alt="ACTCMSVN" src="images/logo_full.svg" />
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 p-0">
          <p data-aos="fade-up" data-delay-duration="1000" data-aos-duration="800" class="site-footer__copy mb-3">Ready to get started? Have questions? Feel free to reach out at anytime!</p>
          <a data-aos="fade-up" data-delay-duration="1000" data-aos-duration="1000" class="site-footer__mail" href="mailto:support@actcms.wwork">support@actcms.work</a>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer__bottom">
    <div class="container-fluid">
      <div class="row">
        <p class="mt-5 site-footer__copy col-lg-8 col-md-8 col-sm-8 col-xs-12">Copyright ©2020 ACTCMS Viet Nam</a>. All rights reserved</p>
        <div class="mt-3 mb-5 site-footer__social col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="#" class="linkedin" target="_blank"> <img alt="ACTCMSVN" src="images/linkedin.svg" /></a>
          <a href="https://www.facebook.com/actcmsvn" class="facebook" target="_blank"> <img alt="ACTCMSVN" src="images/facebook.svg" /></a>
          <a href="#" class="twitter" target="_blank"> <img alt="ACTCMSVN" src="images/twitter.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>