<footer class="site-footer">
  <div class="site-footer__bottom">
    <div class="container-fluid">
      <div class="row">
        <p class="mt-5 site-footer__copy col-lg-8 col-md-8 col-sm-8 col-xs-12">Copyright © 2020 ACTCMS Viet Nam</a>. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>