<header class="site-header header-one" id="header">
  <nav class="navbar navbar-expand-lg navbar-light header-navigation">
    <div class="container-fluid clearfix">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="logo-box clearfix">
        <a class="navbar-brand" href="/">
          <img src="images/logo.svg" class="main-logo" alt="ACTCMSVN" />
        </a>
      </div>
      <a data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1200"
      class="main-navigation thm-btn-outline" href="mailto:support@actcms.work">Get in touch <img alt="ACTCMSVN" class="img-btn"
        src="images/get.svg"/></a>
    </div>
  </nav>
</header>