<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <!-- Primary Meta Tags -->
  <meta name="description" content="ACTCMS is an IT company, We provide our clients with unique solutions of any level of complexity.">
  <title>Bão Molave - {{ title }}</title>
  <meta name="distribution" content="Global">
  <meta name="rating" content="All">
  <meta name="revisit-after" content="90">
  <meta name="keywords" content="actcmsvn, design, website e-commerce, shopping cart, landing page, webapp, mobile app  ios, android, ui design, can tho, viet nam, taiwan ">
  <link href="/" rel="canonical" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://actcms.work">
  <meta property="og:title" content="ACTCMSVN - Technology & Design">
  <meta property="og:description" content="Digital product studio focuses on web & mobile app development, IT solution and UX/UI design.">
  <meta property="og:image" content="https://actcms.work/images/seo.jpg">
  <meta name="author" content="actcmsvn">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://actcms.work">
  <meta property="twitter:title" content="ACTCMS Vietnam - Technology & Design">
  <meta property="twitter:description" content="Digital product studio focuses on web & mobile app development, IT solution and UX/UI design.">
  <meta property="twitter:image" content="https://actcms.work/images/seo.jpg">
    <!--Bật Responsive-->
    <link rel="stylesheet" type="text/css" href="https://thoitietvietnam.gov.vn/kttv/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://thoitietvietnam.gov.vn/kttv/css/responsive.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" />
    <link rel="icon" href="https://thoitietvietnam.gov.vn/kttv/favicon.ico" type="image/x-icon" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script type="text/javascript" src="https://thoitietvietnam.gov.vn/kttv/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://thoitietvietnam.gov.vn/kttv/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="https://thoitietvietnam.gov.vn/kttv/js/Paging.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="https://thoitietvietnam.gov.vn/kttv/js/modernizr-2.6.2.js"></script>
    <script src="https://thoitietvietnam.gov.vn/kttv/js/modernizr-2.6.2.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180236866-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180236866-1');
    </script>
</head>
<body>
<div id="wrapper">
 <div class="uk-container uk-position-relative">
    <section class="row-wrp">
      <div uk-grid="">
        <div class="uk-width-expand@m uk-width-1-1@s">
          <aside class="block-2">
<script src="https://thoitietvietnam.gov.vn/Kttv//data/leaflet-searchvn.js"></script>

{{ content | safe }}
{% include "footer.njk" %}
{% set js %}
  {% include "js/theme.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>

          </aside>
      </div>
    </div>
  </section>
 </div>
</div>
</body>
</html>