<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <!-- Primary Meta Tags -->
  <meta name="description" content="ACTCMS is an IT company, We provide our clients with unique solutions of any level of complexity.">
  <title>{{ title }} - Bão Molave</title>
  <meta name="description" content="Web site thông tin  dự báo thời tiết biển, đất liền 24h,48h,72h, sản phẩm mô hình, ảnh Radar, ảnh vệ tinh." />
    <meta name="keywords" content="dự báo thời tiết biển,đất liền,24h,48h,72h, sản phẩm mô hình, ảnh radar, ảnh vệ tinh, GSM,ETA,HRM,GFS,GEM,bản tin thủy văn, hạn ngắn,hạn vừa,hạn dài,thông báo lũ." />
    <meta name="author" content="" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
    <meta property="og:site_name" content="World Meteorological Organization" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://public.wmo.int/en" />
    <meta property="og:title" content="World Meteorological Organization" />
    <!--Bật Responsive-->

    <link rel="stylesheet" type="text/css" href="https://thoitietvietnam.gov.vn/kttv/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://thoitietvietnam.gov.vn/kttv/css/responsive.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" />
    <link rel="icon" href="https://thoitietvietnam.gov.vn/kttv/favicon.ico" type="image/x-icon" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script type="text/javascript" src="https://thoitietvietnam.gov.vn/kttv/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://thoitietvietnam.gov.vn/kttv/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="https://thoitietvietnam.gov.vn/kttv/js/Paging.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="https://thoitietvietnam.gov.vn/kttv/js/modernizr-2.6.2.js"></script>
    <script src="https://thoitietvietnam.gov.vn/kttv/js/modernizr-2.6.2.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180236866-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180236866-1');
    </script>
</head>
<body>
<div id="wrapper">
 <div class="uk-container uk-position-relative">
    <section class="row-wrp">
      <div uk-grid="">
        <div class="uk-width-expand@m uk-width-1-1@s">
          <aside class="block-2">
<script src="https://thoitietvietnam.gov.vn/Kttv//data/leaflet-searchvn.js"></script>

{% include "header.njk" %}
{{ content | safe }}
{% include "footer.njk" %}
{% set js %}
  {% include "js/theme.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>

          </aside>
      </div>
    </div>
  </section>
 </div>
</div>
</body>
</html>